.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 15px 0;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.nav-link {
  background: #fff;
  color: #000;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 350;
  transition: all 0.25s ease;
  white-space: nowrap;
}

.active {
  background: var(--active-color);
  color: #000;
}

.nav-link:hover {
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .nav-link {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
}
