.search-bar {
  width: 100%;
  max-width: 800px;      
  margin: 15px auto;       
  background: #1f1f1f;
  padding: 10px 18px;
  border-radius: 40px;
  border: 1px solid #333;
  transition: border-color 0.25s ease;
  display: flex;
  align-items: center;
}

.search-bar:focus-within {
  border-color: #ddaa06;
}

.search-bar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
}

.search-bar input::placeholder {
  color: #888;
}
