#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.home {
  margin: 100px auto;
  width: 100%;
}

.watchlist-page{
  margin: 100px auto;
  width: 100%;
}

.no-results {
  text-align: center;
  color: #ccc;
  font-size: 20px;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .home {
    margin: 150px auto;
  }
}