.movie-card {
  width: 250px;
  background: #292828;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-image img {
  width: 100%;
  height: 250px;
}

.movie-info {
    padding: 15px;
  justify-items: center;
}

.movie-title {
  font-size: 18px;
  margin: 0;
}

.movie-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  gap: 10px;
}

.movie-genre {
  font-size: 14px;
  margin: 5px 0;
  text-transform: capitalize;
}

.movie-rating {
  font-size: 14px;
  margin: 5px 0;
  background-color: #000000;
  padding: 1px 10px;
  border-radius: 20px;
}

.rating-green { 
    color: #2ecc71; 
} 

.rating-yellow { 
    color: #f1c40f; 
}

.rating-red { 
    color: #e74c3c; 
}

.watchlist-btn {
  margin: 0 0 20px 0;
  width: 183px;
  height: 25px;         
  padding: 0;            
  border-radius: 20px;
  border: none;
  background: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #fff;
}

.watchlist-btn .circle {
  width: 22px;          
  height: 22px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.watchlist-btn.added { 
    background: var(--active-color); 
}

.watchlist-btn.added .circle { 
    transform: translateX(160px); 
} 

.watchlist-btn.added { 
    background: linear-gradient(to right, #ddaa06 100%, #3a3a3a 0%); 
}